.container__parent {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh; // <-- will disable window.addEventListener('scroll')
	background-color: transparent;
}

.container__background {
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.65),
			rgba(255, 255, 255, 0.5)
		),
		url('../../assets/images/body.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	position: relative;
	margin: 0 auto;
	max-width: 100rem;
	padding: 23.5rem 0 8rem 0;

	@include respond(tab-port-2) {
		padding: 14.5rem 0 3rem 0;
		//height: 100%;
	}

	@include respond(tab-port) {
		padding: 14.5rem 0 1.8rem 0;
	}

	@include respond(phone-small) {
		padding: 14.5rem 0 3rem 0;
	}
}
