.container__parent {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.container {
	position: relative;
	margin: 0 auto;
	max-width: 100rem;
	padding: 19rem 0 10rem 0;

	@include respond(tab-port-2) {
		padding: 10rem 0 3rem 0;
		//height: 100%;
	}

	@include respond(tab-port) {
		padding: 9rem 0 1.8rem 0;
	}
}
