.footer {
	background-color: $color-primary-dark;

	width: 100%;

	&__body {
		display: relative;
		margin: auto;
		padding: 1.5rem;
		width: 120rem;
	}

	&__links {
		display: flex;
		justify-content: space-between;
		padding: 2rem 0;
	}

	&__links-partition {
		& > .heading-fourtiary {
			margin-bottom: 1.2rem;
		}
	}

	&__icons {
		display: flex;
		justify-content: space-between;

		// & > *:not(:first-child) {
		// 	margin-left: 2rem;
		// }
	}

	&__link {
		text-decoration: none;
		color: $color-gray-light-4;

		& > .paragraph {
			font-size: 1.4rem;
			margin-bottom: 1.2rem;
		}
	}

	&__copyright {
		text-align: center;
		color: $color-gray-light-4;

		& > .paragraph,
		.footer__author {
			font-size: 1rem;
		}
	}

	&__author {
		color: $color-gray-light-4;
		text-decoration: none;
	}
}
