.header {
	background-color: $color-primary-light;
	box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3);
	border-top: 0.3rem solid rgba(0, 0, 0, 0.5);
	border-bottom: 0.3rem solid rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 2;
	width: 100%;
	display: flex;
	flex-direction: column;

	@include respond(tab-port-2) {
		background-color: $color-gray-dark-2;
	}

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		align-self: center;
		padding: 0.5rem 2rem;
		max-width: 130rem;

		&--mobile {
			max-width: none;
			align-self: stretch;
		}

		@include respond(phone-secondary) {
			padding: 0.8rem 1rem;
		}
	}

	&__logo {
		display: block;
		width: 32rem;
	}

	&__logo-image {
		height: 100%;
		width: 100%;
	}

	&__buttons {
		position: relative;
		display: block;
		margin-left: auto;

		&--mobile {
			width: 100%;
		}
	}

	&__search {
		position: relative;
		display: flex;
		justify-content: flex-end;
	}

	&__search-form {
		position: relative;
		display: flex;
		align-items: center;
		margin: 0 3rem;

		&--mobile {
			width: 100%;
		}

		@include respond(phone) {
			margin-right: 1.5rem;
		}
	}

	&__user {
		display: flex;
		justify-content: space-between;
	}

	&__loged-out {
		display: flex;
		align-items: center;
		justify-content: baseline;
	}
}
