.header {
	background-color: $color-primary;
	box-shadow: 0px 0.5rem 1.2rem rgba(0, 0, 0, 0.17);
	border-top: 2px solid $color-gray-dark-3;
	border-bottom: 2px solid $color-gray-dark-3;
	position: absolute;
	z-index: 2;
	width: 100%;
	display: flex;
	flex-direction: column;

	@include respond(tab-port-2) {
		//background-color: $color-tertiary;
	}

	.navbar-line {
		border-top: solid 2px $color-gray-dark-3;
	}

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		align-self: center;
		padding: 0.6rem 2rem 0.5rem 2rem;
		max-width: 98rem;
		width: 100%;

		&--mobile {
			max-width: none;
			align-self: stretch;
		}

		@include respond(tab-port-2) {
			padding: 1rem 2.5rem;
		}
	}

	&__mobile-currency-button {
		position: fixed;
		bottom: 0.6rem;
		right: 1rem;
		z-index: 2;

		& > * {
			margin: 0;
		}
	}

	&__logo {
		display: block;
		width: 12rem;
		margin: 0.5rem 0;

		@include respond(tab-port-2) {
			width: 8rem;
			margin-right: 1.5rem;
		}
	}

	&__logo-image {
		height: 100%;
		width: 100%;
	}

	&__buttons {
		position: relative;
		display: block;
		margin-left: auto;
		height: 100%;

		&--mobile {
			width: 100%;
		}
	}

	&__search {
		position: relative;
		display: flex;
		justify-content: flex-end;
	}

	&__search-form {
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: 1.5rem;
		padding: 0 1.2rem;

		&--mobile {
			width: 100%;
		}

		@include respond(tab-port-2) {
			margin: 0 3rem;
		}
	}

	&__user {
		display: flex;
		justify-content: space-between;
	}

	&__container {
	}

	&__loged-out {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: baseline;
	}
}
