.auth-form {
	&__form {
	}

	&__box {
		background-color: #fff;
		padding: 3rem;
		border-radius: 0.5rem;
		border: solid #000 5px;
		box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
	}

	&__field {
		display: flex;
		flex-direction: column;

		&:not(:first-child) {
			margin-top: 2rem;
		}
	}

	&__field--address {
		display: flex;
		flex-direction: column;

		&:not(:first-child) {
			margin-top: 2rem;
		}
	}

	&__field--side-by-side {
		display: flex;
		flex-direction: row;
		margin-top: 2rem;
		justify-content: space-between;

		& > .auth-form__field {
			margin-top: 0;

			&:not(:last-child) {
				margin-right: 2rem;
			}
		}
	}

	&__title {
		margin-bottom: 2rem;
	}

	&__field-button {
		margin-top: 3rem;

		&--with-title {
			margin-top: 0;
			display: flex;
			justify-content: space-between;
		}
	}

	&__forget-link {
		text-decoration: none;
		text-align: center;
		font-size: 1.2rem;
		margin-top: -1rem;

		& > p {
			font-size: 1.4rem;
		}
	}
}
