.button {
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	transition: all 0.2s;

	&__icon {
		height: 1.5rem;
		width: 1.5rem;
		fill: #000;
		transition: all 0.2s;

		@include respond(phone-really-small) {
			height: 1.4rem;
			width: 1.4rem;
		}
	}

	&__icon-container {
		display: flex;
		align-items: baseline;
		justify-items: center;
	}

	&__icon-container--big {
		padding: 0.5rem;
	}

	&__icon--card {
		margin-right: 1rem;
		height: 0.9rem;
		width: 0.9rem;
		fill: #fff;
	}

	&__icon--card-cart-big {
		margin-right: 1rem;
		margin-left: 2rem;
		height: 2rem;
		width: 2rem;
		fill: #fff;
	}

	&__icon--card-big {
		margin-right: 2rem;
		height: 1.6rem;
		width: 1.6rem;
		fill: #fff;
	}

	&__small-circle {
		background-color: transparent;
		border: transparent;
		margin-left: 5rem;

		&--checkout {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: 2rem;

			@include respond(phone-secondary) {
				margin-left: 2.5rem;
			}
		}
	}

	&__big-circle {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		border: transparent;
		margin-left: auto;
	}

	&__search {
		position: absolute;
		right: 1rem;
		background-color: $color-gray-light-2;
		border: none;
		padding: 0.4rem;

		@include respond(tab-port-2) {
			background-color: transparent;
		}

		& > .button__icon {
			@include respond(tab-port-2) {
				fill: #fff;
				margin-bottom: 0.3rem;
				height: 1.6rem;
				width: 1.6rem;
			}
		}
	}

	&__black {
		display: flex;
		justify-content: space-between;
		align-items: center;

		width: 12rem;
		padding: 1rem;
		border: 0.2rem solid $color-gray-light-3;
		background-color: transparent;
		color: $color-gray-light-3;
		background: $color-primary-dark;
		border-radius: 2rem;
		box-shadow: 0 0.2rem 0.1rem rgba(0, 0, 0, 0.5);

		& .button__icon {
			fill: $color-gray-light-3;
		}

		&:hover,
		&:focus {
			color: #fff; // This color needs to be thinked, hurts the eyes
			border: 0.2rem solid #fff;
			backface-visibility: hidden;
		}

		&:hover,
		&:focus > .button__icon {
			fill: #fff;
		}
	}

	&__black--cart {
		border-radius: 0.5rem;
		margin-right: 2.5rem;
		width: 9rem;
		justify-content: center;
		align-items: baseline;

		& > svg {
			margin-right: 1rem;
		}
	}

	&__black--small-circle {
		display: flex;
		justify-content: center;
		width: 4rem;
		height: 4rem;
		border-radius: 50%;
		border: 0.2rem solid $color-gray-light-4;
	}

	&__black--shop-cart {
		width: 20rem;
		margin-right: 3rem;
		border-radius: 0.5rem;
	}

	&__black--small-circle > .button__icon {
		fill: $color-gray-light-4;

		@include respond(phone-really-small) {
			padding: 0;
		}
	}

	&__black--login {
		justify-content: center;
		border-radius: 0.5rem 0 0 0.5rem;

		& > .button__icon {
			margin-right: 1.2rem;
		}
	}

	&__black--signup {
		justify-content: center;
		border-radius: 0 0.5rem 0.5rem 0;

		& > .button__icon {
			margin-right: 1rem;
		}
	}

	&__black--profile {
		justify-content: stretch;
		width: 15rem;
		border-radius: 0.5rem 0 0 0.5rem;

		& > .button__icon {
			margin-right: 1rem;
		}
	}

	&__black--logout {
		justify-content: stretch;
		border-radius: 0 0.5rem 0.5rem 0;

		& > .button__icon {
			margin-right: 1rem;
		}
	}

	&__white {
		display: flex;
		align-self: flex-end;
		justify-content: center;
		box-shadow: 0 0.2rem 0.1rem rgba(0, 0, 0, 0.5);

		padding: 0.5rem 1rem;
		border: 0.2rem solid $color-primary-dark;
		background-color: transparent;
		color: $color-gray-dark-3;
		background: #fff;
		border-radius: 0.5rem;
		width: 9.2rem;

		@include respond(phone-really-small) {
			width: 10rem;
		}

		font-size: 1.2rem;
	}

	&__white:hover,
	&__white:focus {
		color: #fff;
		background-color: $color-gray-dark-3;
	}

	&__white--card {
		margin-top: 1rem;

		@include respond(tab-port-2) {
			background-color: $color-tertiary;
			color: #fff;
		}

		&:disabled {
			cursor: not-allowed;
			background-color: $color-primary-light;
		}
	}

	&__white--card-big {
		background-color: $color-tertiary;
		width: 100%;
		color: #fff;

		&:hover,
		&:focus {
			background-color: rgba($color-tertiary, 0.7);
		}

		&:disabled {
			cursor: not-allowed;
			background-color: $color-primary-light;
		}
	}

	&__white--card-small {
		background-color: $color-tertiary;
		width: 40%;
		color: #fff;
		align-self: baseline;
		margin-top: 1.2rem;

		&:hover,
		&:focus {
			background-color: rgba($color-tertiary, 0.7);
		}

		&:disabled {
			cursor: not-allowed;
			background-color: $color-primary-light;
		}
	}

	&__white--show-more {
		display: flex;
		align-self: center;
		font-weight: 700;
		margin-top: 1.5rem;
		width: 12rem;
	}

	&__white--image {
		width: auto;
		padding: 0.3rem;

		&:hover,
		&:focus {
			background-color: #fff;
		}

		&-active {
			width: auto;
			padding: 0.3rem;
			background-color: $color-gray-dark-3;
		}
	}

	&__arrow {
		margin-right: 0.7rem;

		padding: 0.7rem;
		padding-top: 3px;
		align-self: baseline;

		&-text {
			font-size: 2.5rem;
		}

		&--left {
			padding-top: 0;
		}
	}
}
