.call-to-action {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	background-color: $color-secondary;
}

.call-to-action > .paragraph {
	text-transform: uppercase;
}
