.cart {
	position: fixed;
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	height: 100vh;
	width: 40rem;
	z-index: 9;
	right: 0;
	border-left: solid 0.3rem #000;
	background-color: $color-secondary;
	transition: all 0.2s;

	@include respond(phone-really-small) {
		width: 37rem;
	}

	&--dropdown {
		height: 0;
		//display: none;
		position: absolute;
		top: 3.5rem;
		left: 50%;
		height: 40rem;
		border: solid 0.3rem #000;
		border-radius: 0.5rem;
		transform-origin: top;
		transform: scaleY(0);
		transition: all 0.2s;
		box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);

		translate: -50% 0;

		&:hover {
			transform: scale(1);
			//display: flex;
		}
	}

	&__checkbox {
		display: none;
	}

	&__checkbox:checked + &__button {
		right: 0;
	}

	&__checkbox:checked ~ & {
		right: -40rem;

		@include respond(phone-really-small) {
			right: -37rem;
		}
	}

	&__checkbox:checked ~ .blured {
		display: none;
	}

	&__checkbox:checked + &__button > .button__arrow {
		rotate: 180deg;
	}

	&__panel {
		overflow-y: auto;
	}

	&__button {
		position: fixed;
		width: auto;
		top: 50rem;
		right: 39.8rem;
		background-color: $color-secondary;
		border: solid #000 0.3rem;
		z-index: 6;

		@include respond(phone-really-small) {
			right: 36.8rem;
		}

		&:hover {
			border: 0.3rem solid #000;
			background-color: $color-secondary;
		}
	}

	&__total {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin: 0.3rem 0;

		@include respond(phone-secondary) {
			justify-content: center;
		}
	}

	&__button-text {
		padding: 0.5rem;
	}
}

.cart--page {
	max-width: 65rem;

	@include respond(tab-port-2) {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
	}

	@include respond(phone-small) {
		max-width: 50rem;
	}

	@include respond(phone-really-small) {
		max-width: 44rem;
	}
}
