.navbar {
	position: relative;
	//max-width: 130rem;
	background-color: $color-secondary;
	//margin: 0 auto;

	//position: fixed;

	&--stiky {
		position: fixed;
	}

	&__list {
		display: flex;
		justify-content: center;
		list-style: none;
		flex-wrap: wrap;

		&--vertical {
			flex-direction: column;
			align-items: center;
		}
	}

	&__list-item {
	}

	&__link {
		display: block;
		text-decoration: none;
		color: #000; //$color-gray-dark-1;
		padding: 0.35rem 1.5rem;
		transition: all 0.3s;

		&:hover {
			background-color: $color-tertiary;
			color: #fff;
		}
	}

	&__link--active {
		background-color: $color-tertiary;
		color: #fff;
	}
}

.navbar-line {
	border-top: solid 0.2rem $color-gray-medium;
	display: inherit;

	&--thicc {
		border-top: solid 0.3rem $color-gray-medium;
	}
}

.navbar-vertical {
	background-color: $color-secondary;

	//    width: 100%;

	@include respond(tab-port) {
		width: auto;
	}

	&--no-background {
		background-color: transparent;
	}

	&__list {
		display: flex;
		list-style: none;
		flex-wrap: wrap;
		flex-direction: column;
	}

	&__list--profile {
		@include respond(tab-port) {
			flex-direction: row;
		}
	}

	&__list-item {
		&--menu {
			align-self: center;
			margin-top: 2rem;
		}

		@include respond(tab-port) {
			flex: 1;
		}
	}

	&__link {
		display: flex;
		text-decoration: none;
		color: #000; //$color-gray-dark-1;
		align-items: center;
		padding: 2rem 6rem;
		transition: all 0.3s;

		@include respond(tab-port) {
			justify-content: center;
		}

		@include respond(phone-secondary) {
			padding: 2rem 4rem;
		}

		&--menu {
			padding: 1.5rem 2rem;

			@include respond(tab-port) {
				justify-content: flex-start;
			}
		}

		& > svg {
			fill: #000; //$color-gray-dark-1;
			margin-right: 0.7rem;
		}

		&--active,
		&:hover {
			background-color: $color-tertiary;
			color: #fff;

			& > svg {
				fill: #fff;
			}
		}
	}
}

.navbar-sticky {
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: solid 2px $color-gray-dark-3;
	box-shadow: 0px 0.5rem 1.2rem rgba(0, 0, 0, 0.17);
}
