.navbar {
	position: relative;
	//max-width: 130rem;
	background-color: $color-secondary;
	//margin: 0 auto;

	//position: fixed;

	&--stiky {
		position: fixed;
	}

	&__list {
		display: flex;
		justify-content: center;
		list-style: none;
		flex-wrap: wrap;

		&--vertical {
			flex-direction: column;
			align-items: center;
		}
	}

	&__list-item {
		position: relative;
	}

	&__link {
		display: block;
		text-decoration: none;
		color: #000; //$color-gray-dark-1;
		padding: 0.35rem 1.5rem;
		transition: all 0.3s;

		&:hover {
			background-color: $color-tertiary;
			color: #fff;
		}
	}

	&__link--active {
		background-color: $color-tertiary;
		color: #fff;
	}

	&__link-hidden-list {
		position: absolute;
		top: 3.1rem;
		left: 0;
		height: 0;
		list-style: none;
		flex-direction: column;
		transform: scaleY(0);
		transition: all 0.3s;
		z-index: 20;
	}

	// here
	&__link:hover &__link-hidden-list,
	&__list-item:hover &__link-hidden-list,
	&__link:focus + &__link-hidden-list,
	&__list-item:active + &__link-hidden-list {
		transform: scaleY(1);
		transform-origin: top;
	}

	&__link-hidden-list-item {
		border-left: solid #000 3px;
		border-right: solid #000 3px;
		border-bottom: solid rgba(0, 0, 0, 0.3) 1px;
		box-shadow: 0px 0.5rem 1.2rem rgba(0, 0, 0, 0.17);
		position: relative;
		text-align: left;
		background: $color-secondary;
		display: flex;
		align-items: center;

		&:last-child {
			border-bottom: solid #000 3px;
			border-radius: 0 0 0.5rem 0.5rem;
		}

		& .navbar__link {
			width: 15rem;
		}
	}
}

.navbar-line {
	border-top: solid 0.2rem $color-gray-medium;
	display: inherit;

	&--thicc {
		border-top: solid 0.3rem $color-gray-medium;
	}
}

.navbar-vertical {
	background-color: $color-secondary;

	//    width: 100%;

	@include respond(tab-port) {
		width: auto;
	}

	&--no-background {
		background-color: transparent;
	}

	&__submenu-title-box {
		display: flex;
	}

	&__list {
		display: flex;
		list-style: none;
		flex-wrap: wrap;
		flex-direction: column;
	}

	&__list--profile {
		@include respond(tab-port) {
			flex-direction: row;
		}
	}

	&__list-item {
		&--menu {
			align-self: center;
			margin-top: 2rem;
		}

		@include respond(tab-port) {
			flex: 1;
		}
	}

	&__link {
		display: flex;
		text-decoration: none;
		color: #000; //$color-gray-dark-1;
		align-items: center;
		padding: 2rem 6rem;
		transition: all 0.3s;

		& > .button__icon {
			@include respond(phone-small) {
				height: 2.5rem;
				width: 2.5rem;
			}
		}

		@include respond(tab-port) {
			justify-content: center;
		}

		@include respond(phone-secondary) {
			padding: 2rem 4rem;
		}

		&--menu {
			padding: 1.5rem 2rem;

			@include respond(tab-port) {
				justify-content: flex-start;
			}

			@include respond(phone-small) {
				padding: 0.8rem 2rem;
			}
		}

		& > svg {
			fill: #000; //$color-gray-dark-1;
			margin-right: 0.7rem;
		}

		&--active,
		&:hover {
			background-color: $color-tertiary;
			color: #fff;

			& > svg {
				fill: #fff;
			}
		}
	}
}

.navbar-sticky {
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: solid 2px $color-gray-dark-3;
	box-shadow: 0px 0.5rem 1.2rem rgba(0, 0, 0, 0.17);
}
