// COLORS
$color-primary: #414141;
$color-secondary: #ffbd00;
$color-tertiary: #358100;

$color-red: #ba1304;

$color-primary-light: #4f4f4f;
$color-primary-dark: #232323;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-light-3: #ccc;
$color-gray-light-4: #aaa;
$color-gray-light-5: #999;

$color-gray-dark: #777;
$color-gray-dark-3: #444;
$color-gray-dark-2: #374140;

$color-white: #fff;
$color-black: #000;

// MARGIN
$no-margin: 0;
$margin-bottom-small: 0.7rem;
$margin-bottom-medium: 1.4rem;
$margin-big: 2.1rem;

// FONT
$default-font-size: 1.6rem;
$default-font-size-2: 1.4rem;

/* Font size */
$font_size: 12px;

/* Font family */
$fonts_name: Press Start 2p;

/* Color */
$body_bg: #ffbd00;
$body_color: #414141;
$link_color: #000000;
$link_color_hover: #ffd100;

/* Breadcrumb */
$breadcrumb_color: #040404;
$breadcrumb_text_transform: capitalize;

/* Header and Title */
$page_title_font_size: 2rempx;
$page_title_color: #232323;
$page_title_text_align: left;

/* Product  */
$product_text_transform: none;
$product_name_text_align: center;
$color_title_pr: #ffbd00;
$color_title_pr_hover: #ffbd00;
$color_vendor: #232323;
$sale_text: #ffffff;
$bg_sale: #e95144;
$custom_label_text: #ffffff;
$custom_label_bg: #383838;
$bundle_label_text: #ffffff;
$bundle_label_bg: #232323;
$new_label_text: #ffffff;
$new_label_bg: #06bfe2;
$sold_out_text: #ffffff;
$bg_sold_out: #c1c1c1;
$color_price: #232323;
$color_price_sale: #e95144;
$color_compare_price: #969696;
$color_quick_view: rgba(255, 255, 255, 0.7);
$bg_quick_view: rgba(0, 0, 0, 0.8);
$color_wishlist: #232323;
$bg_wishlist: #ffe5e5;

/* Button 1 */
$background_1: #ffbd00;
$color_1: #ffffff;
$border_1: #232323;

/* Button 2 */
$background_2: #ffbd00;
$color_2: #232323;
$border_2: #232323;

/* Button 3 */
$background_3: #ffbd00;
$color_3: #ffffff;
$border_3: #000000;

/* Border Color */
$border_widget_title: #e0e0e0;
$border_color_1: #ebebeb;
$border_color_2: #e7e7e7;
$border_page_title: #eaeaea;
$border_input: #cbcbcb;
$border_checkbox: #d0d0d0;
$border_dropdown: #dadada;
$border_bt_sidebar: #e6e6e6;
$color_ipt: #3c3c3c;
$color_icon_drop: #000;
$color_slick_arrow: #323232;

/* CUSTOM COLORS */
$color-button-main: #ffbd00;
$color-button-hovered: #ffca28;
$color-link-hovered: #ffd100;

$color-grey-primary: #969696;
$color-grey-dark-2: #374140;
$color-white: #fff;
