// COLORS
$color-primary: #f8ecff;
$color-secondary: #d39cfd;
$color-tertiary: #340068;
$color-fourtiary: #dcaeff;

$color-green: #358100;
$color-gray-medium: #666;

$color-gray-light-5: #999;
$color-gray-dark-3: #444;
$color-gray-light-3: #ccc;
$color-gray-light-4: #aaa;

$color-red: #ba1304;
$color-red-2: #ec0b1b;

$color-primary-light: #4f4f4f;
$color-primary-dark: #232323;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-light-6: #ddd;

$color-gray-dark: #777;
$color-gray-dark-4: #535c62;
$color-gray-dark-2: #374140;
$color-gray-dark-1: #333;

$color-white: #fff;
$color-black: #000;

// MARGIN
$no-margin: 0;
$margin-bottom-small: 0.7rem;
$margin-bottom-medium: 1.4rem;
$margin-big: 2.1rem;

// FONT
$default-font-size: 1.4rem;
$default-font-size-2: 1.6rem;

// MEDIA SIZES
$custom-media-query-1: 46.875em; // 750px/16;
$custom-media-query-2: 43.75em; // 700px/16;
$custom-media-query-3: 31.25em; // 500px/16;
$custom-media-query-4: 28.125em; // 450px/16;
$custom-media-query-5: 23.43em; // 375px/16;
