*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;

	@include respond(tab-land) {
		font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
	}

	@include respond(tab-port) {
		font-size: 53.125%; // 1rem = 8.5px, 8.5/16 = 53,125%
	}

	@include respond(phone) {
		// Things get weird at this point - drastic change of design required
		font-size: 50%; // 1rem = 8px, 8/16 = 50%
	}

	@include respond(phone-small) {
		// Things get weird at this point - drastic change of design required
		font-size: 46.875%; // 1rem = 7.5px, 7.5/16 = 46.875%
	}

	//nope
	// @include respond(phone-really-small) {
	// 	font-size: 31.25%; // 1rem = 5px, 5/16 = 31.25%
	// }

	// @include respond(phone-really-really-small) {
	// 	font-size: 29.37%; // 1rem = 4.7px, 4.5/16 = 28.125%
	// }

	@include respond(big-desktop) {
		font-size: 75%; // 1rem = 12, 12/16 = 75
	}
}

body {
	box-sizing: border-box;
	//padding: 3rem; /* 30px; gives a nice white margin around body of the web-page :D */

	//background-color: $color-gray-light-2;
	background-color: $color-primary;

	// & > * {
	// 	overflow-x: hidden;
	// }

	// @include respond(tab-port) {
	// 	padding: 0; /* 30px; gives a nice white margin around body of the web-page :D */
	// }
}

::selection {
}
