body {
	font-family: 'Mitr', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: #000; //$color-gray-dark-3; /* all text will be of this color */
}

.heading-primary {
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 6rem;
}

.heading-secondary {
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.2rem;

	text-shadow: 0 3px 5px rgba(#000, 0.1);

	&--dark {
		color: #000; //$color-gray-dark-1;
	}
}

.heading-tertiary {
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 2.5rem;

	&--dark {
		color: #000; //$color-gray-dark-1;
	}

	@include respond(tab-port) {
		margin-bottom: 1rem;
	}
}

.heading-fourtiary {
	font-size: $default-font-size-2;
	font-weight: 700;
	color: rgba(250, 250, 250, 0.7);
	text-transform: uppercase;

	&--dark {
		color: #000; //$color-gray-dark-1;
	}
}

.paragraph {
	font-size: $default-font-size;
	hyphens: auto;

	&--black {
		color: #000//$color-gray-dark-3;
	}

	&--error {
		color: rgba($color-red, 0.9);
	}

	&--validation {
		color: rgba($color-tertiary, 0.9);
	}
}
